* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    padding:20px;
    width:50%;
    background-color: #f27521;
    height: 90vh;
    position: relative;
}
.nav {
    display: flex;
    align-items:center;
    justify-content:space-between;
}

.header-1 li {
    display:inline-block;
    margin: 0 12px;
    width: 35px;
    height:10vh;
}
.header-1 li a {
    text-transform: none;
    color:white;
    padding:5px 0;
}